<!-- Footer extra content -->

<div class="container br-footer-extra">

  <div class="row">
    <div class="col-12">
      <h4 class="footer__section-title mb-4">You may also like</h4>
      <div class="br-media-grid-wide">
        <div class="br-media">
          <a href="#" class="br-media__thumbnail-link">
            <img class="br-media__thumbnail" src="img/media-01.png" alt="Movie title">
          </a>
          <div class="br-media__info">
            <div class="br-media__secondary-info">Blu-ray 4K UHD</div>
            <a href="#" class="br-media__primary-info">
              <span class="br-media__title">The Courier</span> (2021)
            </a>
          </div>

          <div class="br-media__bottom">
            <div class="br-media__price">$91.72</div>
            <a href="#" class="br-btn br-media__cta">Buy</a>
          </div>
        </div>
        <div class="br-media">
          <a href="#" class="br-media__thumbnail-link">
            <img class="br-media__thumbnail" src="img/media-02.png" alt="Movie title">
          </a>
          <div class="br-media__info">
            <div class="br-media__secondary-info">Blu-ray 4K UHD</div>
            <a href="#" class="br-media__primary-info">
              <span class="br-media__title">A Quiet Place Part II</span> (2021)
            </a>
          </div>

          <div class="br-media__bottom">
            <div class="br-media__price">$91.72</div>
            <a href="#" class="br-btn br-media__cta">Buy</a>
          </div>
        </div>
        <div class="br-media">
          <a href="#" class="br-media__thumbnail-link">
            <img class="br-media__thumbnail" src="img/media-03.png" alt="Movie title">
          </a>
          <div class="br-media__info">
            <div class="br-media__secondary-info">Blu-ray 4K UHD</div>
            <a href="#" class="br-media__primary-info">
              <span class="br-media__title">Game of Thrones: Complete Series</span> (2021)
            </a>
          </div>

          <div class="br-media__bottom">
            <div class="br-media__price">$91.72</div>
            <a href="#" class="br-btn br-media__cta">Buy</a>
          </div>
        </div>
        <div class="br-media">
          <a href="#" class="br-media__thumbnail-link">
            <img class="br-media__thumbnail" src="img/media-04.png" alt="Movie title">
          </a>
          <div class="br-media__info">
            <div class="br-media__secondary-info">Blu-ray 4K UHD</div>
            <a href="#" class="br-media__primary-info">
              <span class="br-media__title">A Quiet Place Part II</span> (2021)
            </a>
          </div>

          <div class="br-media__bottom">
            <div class="br-media__price">$91.72</div>
            <a href="#" class="br-btn br-media__cta">Buy</a>
          </div>
        </div>

        <div class="br-media">
          <a href="#" class="br-media__thumbnail-link">
            <img class="br-media__thumbnail" src="img/media-01.png" alt="Movie title">
          </a>
          <div class="br-media__info">
            <div class="br-media__secondary-info">Blu-ray 4K UHD</div>
            <a href="#" class="br-media__primary-info">
              <span class="br-media__title">The Courier</span> (2021)
            </a>
          </div>

          <div class="br-media__bottom">
            <div class="br-media__price">$91.72</div>
            <a href="#" class="br-btn br-media__cta">Buy</a>
          </div>
        </div>
        <div class="br-media">
          <a href="#" class="br-media__thumbnail-link">
            <img class="br-media__thumbnail" src="img/media-02.png" alt="Movie title">
          </a>
          <div class="br-media__info">
            <div class="br-media__secondary-info">Blu-ray 4K UHD</div>
            <a href="#" class="br-media__primary-info">
              <span class="br-media__title">A Quiet Place Part II</span> (2021)
            </a>
          </div>

          <div class="br-media__bottom">
            <div class="br-media__price">$91.72</div>
            <a href="#" class="br-btn br-media__cta">Buy</a>
          </div>
        </div>

      </div><!-- end media grid -->
    </div>
  </div>



  <div class="row mt-5">
    <div class="col-12 col-lg-6">
      <h4 class="footer__section-title mb-4">Blu-ray</h4>
      <div class="br-flow footer__intro-text">
        <p>
          If you’re looking for all the latest films, TV series, and steelbooks, BLURAYHUNT is the place to be. Our
          range
          of
          Blu-ray titles includes something for all types of people, pulling from every conceivable genre and bringing
          together
          the newest releases—with some classics to get that nostalgia kicked into overdrive.
        </p>
        <p>
          Featuring the most competitive prices available online (or anywhere else), this is the final pitstop on your
          journey
          into the world of high-quality entertainment.
        </p>
        <p>
          So, have a browse and get ready to be immersed in hours of engaging content from all your favourite talent,
          both
          in
          front of the camera and behind the scenes.
        </p>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="br-form-block br-form-block--bright mt-5">
        <form action="">
          <div class="br-form-block__title">
            Find out about all the new releases and pre order
          </div>
          <input type="text" class="br-form-block__input br-input mt-3 w-100" placeholder="dvdman@blurayhunt.com">
          <div class="d-lg-flex justify-content-lg-end">
            <button type="submit" class="br-btn br-form-block__btn mt-2">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <hr class="br-footer-separator mb-5 mt-5">

  <div class="row">
    <div class="col-12 col-lg-8">
      <h4 class="footer__section-title mb-4">FAQs</h4>
      <details class="details">
        <summary class="summary">What is a Blu-ray?</summary>
        <div class="summary__body">
          <p>
            Blu-ray, also known as Blu-ray Disc (BD) is the name of a new optical disc format that is rapidly replacing
            DVD. The
            format was developed to enable recording, rewriting and playback of high-definition video (HD), as well as
            storing large
            amounts of data. The format offers more than five times the storage capacity of traditional DVDs and can
            hold up to 25GB
            on a single-layer disc and 50GB on a dual-layer disc. For more general information about Blu-ray, please see
            our <a href="#">What is Blu-ray?</a> section.
          </p>
        </div>
      </details>
      <details class="details">
        <summary class="summary">When will I be able to buy Blu-ray products?</summary>
        <div class="summary__body">
          <p>
            Blu-ray, also known as Blu-ray Disc (BD) is the name of a new optical disc format that is rapidly replacing
            DVD. The
            format was developed to enable recording, rewriting and playback of high-definition video (HD), as well as
            storing large
            amounts of data. The format offers more than five times the storage capacity of traditional DVDs and can
            hold up to 25GB
            on a single-layer disc and 50GB on a dual-layer disc. For more general information about Blu-ray, please see
            our <a href="#">What is Blu-ray?</a> section.
          </p>
        </div>
      </details>
      <details class="details">
        <summary class="summary">What video codecs will Blu-ray support?</summary>
        <div class="summary__body">
          <p>
            Blu-ray, also known as Blu-ray Disc (BD) is the name of a new optical disc format that is rapidly replacing
            DVD. The
            format was developed to enable recording, rewriting and playback of high-definition video (HD), as well as
            storing large
            amounts of data. The format offers more than five times the storage capacity of traditional DVDs and can
            hold up to 25GB
            on a single-layer disc and 50GB on a dual-layer disc. For more general information about Blu-ray, please see
            our <a href="#">What is Blu-ray?</a> section.
          </p>
        </div>
      </details>
    </div>
    <div class="col-12 col-lg-4 d-none d-lg-block">
      <a href="#" class="faq-banner">
        <img src="img/faq.jpg" alt="Do you have any more questions?">
        <span>Do you have any more questions?</span>
      </a>
    </div>
  </div>

  <hr class="br-footer-separator mb-5 mt-4">
</div>