.br-btn {
  background-color: #f7ad15;
  border-radius: 3px;
  font-size: rem(16px);
  color: #0c2a3c;
  font-weight: 900;
  text-align: center;
  padding: 6px 22px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
